<?xml version="1.0" encoding="UTF-8"?>
<config>
	<contents>
		<access 	title="Access"		description=""/>
		<manager 	title="Manager"		description=""/>
		<create 	title="Create"		description=""/>
		<edit 		title="Edit"		description=""/>
		<editOwn 	title="Edit Owner"	description=""/>
		<editState	title="Edit State"	description=""/>
		<delete 	title="Delete"		description=""/>
	</contents>
	<contents.articles>
		<access 	title="Access"		description=""/>
		<edit 		title="Edit"		description=""/>
		<editState	title="Edit State"	description=""/>
		<delete 	title="Delete"		description=""/>
	</contents.articles>
	<contents.categories>
		<access 	title="Access"		description=""/>
		<create 	title="Create"		description=""/>
		<edit 		title="Edit"		description=""/>
		<editOwn 	title="Edit Owner"	description=""/>
		<editState	title="Edit State"	description=""/>
		<delete 	title="Delete"		description=""/>
	</contents.categories>
</config>