<?xml version="1.0" encoding="UTF-8"?>
<config>
	<menus>
		<access 	title="Access"	description=""/>
		<manager 	title="Manager"	description=""/>
		<create 	title="Create"	description=""/>
		<edit 		title="Edit"	description=""/>
		<editState	title="Edit State"	description=""/>
		<delete 	title="Delete"	description=""/>
	</menus>
	<menus.menuitems>
		<access 	title="Access"	description=""/>
		<edit 		title="Edit"	description=""/>
		<editState	title="Edit State"	description=""/>
		<delete 	title="Delete"	description=""/>
	</menus.menuitems>
</config>

